{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Импорт заявки поставщика из Excel</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="action" value="import_order_supply_from_excel">
    {% for obj in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
    {% endfor %}
    <button type="submit" class="default" name="apply">Импортировать</button>
  </form>
{% endblock %}

